{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %}

<title>{% block title %}Boule de Cristal{% endblock %}</title>

{% block page_content %}

<h1>Predict for user : {{ id }}</h1>
<h2>Est-ce que tu vas revoir la thune :</h2>
<br>
<br>
<br>
<h4>User want a <strong>{{ userLoan }}</strong></h4>
<br>
<br>
<div id="barchart_material" style="width: 900px; height: 500px;"></div>


{% endblock %} {% block scripts %} {{ super() }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var mod_chart = {{ mod_chart | safe }};
    console.log(mod_chart.array1)
    //console.log(chart1.split())
    google.charts.load('current', {
        'packages': ['bar']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable(mod_chart.array1);

        var options = {
            chart: {
                title: 'Types of loans',
                subtitle: 'Get money back from type of loan',
            },
            bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script>
{% endblock %}